.c-section {
    background-image: url("../img/R.jpeg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  
  }
