.wb-section {
    background-image: url("../img/BH.JPG") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }